#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_FedoraCoind += debian/examples/*
DEB_INSTALL_MANPAGES_FedoraCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix FedoraCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f FedoraCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake FedoraCoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_FedoraCoin
	src/test_FedoraCoin

# Ensure wrapper is set executable
binary-post-install/FedoraCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/FedoraCoind
binary-post-install/FedoraCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/FedoraCoin-qt
